fastapi
uvicorn
langgraph
langchain-google-genai
google-api-python-client
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
langchain
langchain-community
aiofiles
langchain-groq
requests
beautifulsoup4
ddgs
crawl4ai
qdrant-client
sentence-transformers
